Required skills and qualifications
Seven or more years of experience in data science
Proficiency with data mining, mathematics, and statistical analysis
Advanced experience in pattern recognition and predictive modeling
Experience with Excel, PowerPoint, Tableau, SQL, and programming languages (ex: Java/Python, SAS)
Ability to work effectively in a dynamic, research-oriented group that has several concurrent projects